
/*...navbar....*/
#navbar img{
	margin-top: 0;
}

#navbar
{
	background-color:#F3C892;
}

.compress{
	padding: 0 50px;
}

/*....title....*/

#title
{
	background-color:#F3C892;
}

.wish1{
	color: green;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: 'Mochiy Pop P One', sans-serif;
}

.wish2{
	color: yellow;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: 'Mochiy Pop P One', sans-serif;
}
.wish3{
	color: tomato;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: 'Mochiy Pop P One', sans-serif;
}

img{
	margin-top: 150px;
}

/*..1.hobbies....*/

p{
	padding-bottom: 2rem;
	margin-bottom: 0;
	font-family: 'montserrat';
	font-weight: bold;
	line-height: 2;
}

.hobbies-heading{
	padding-top: 50px;
	padding-bottom: 3rem;
	margin: 0 auto 0;
	font-family: 'montserrat';
}


#hobbies{
	background-color: #CDDEFF;
}

#hobbies p{
	margin-top: 2rem;
}

/* myclock */

#clockcontainer{
    position: relative;
    height: 40vw;
    width: 40vw;
	background-color: #CDDEFF;
    background: url(clock-image.png) no-repeat center;
    background-size: 81%;
    margin: auto;
}

#hour, #minute, #second{
    position: absolute;
    background-color: black;
    transform-origin: bottom;
}

#hour{
    height: 19%;
    width: 2.4%;
    left: 49%;
    top: 36.4%;
    border-radius: 0.8rem;
}

#minute{
    height: 22%;
    width: 2%;
    left: 49.3%;
    top: 33.4%;
    border-radius: 0.8rem;
}
#second{
    height: 24%;
    width: 1%;
    left: 49.9%;
    top: 31.3%;
    border-radius: 0.2rem;
    
}

/*....Work....*/

#work-id{
	color: cornflowerblue;
}

#work
{
     background-color: #A3DA8D;
}

.work-heading{
    font-family: 'montserrat';
	padding-top: 60px;
	margin-top: 0px;
}

.work-image{
	width: 200px;
	margin: 20px auto 30px;
}

/*....social...*/

#social{
	background-color: #CFFFDC;
}

.envelope{
	color: #EF2F88;
}

.envelope:hover{
	color: crimson;
}

.social-image{
	width: 100px;
	padding-bottom: 40px;
	margin-top: 60px;
}

.pointer{
	width: 40px;
	padding-bottom: 10px;
	display: block;
	margin-top: 20px;
}

.click{
	padding-bottom: 100px;
	font-family: "montserrat";
}

.social-heading{
	margin-top: 0;
	padding-top: 60px;
}

/*projects*/

#project{
	background-color: black;
}

#project h2{
	text-align: center;
    color: white;
    padding: 40px 0;
}

#project p{
	color: tomato;
	text-decoration: underline;
}

.project{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

#project a{
	margin:10px;
	display: inline-block;
	text-decoration: none;
	color: white;
	background:transparent;
	padding: 1px 10px;
	border-radius: 10px;
	border:1px solid yellow;
}

#project a:hover{
	background-color: white;
	color: black;
	transition: 0.5s ease;
}

/*...About...*/

#about{
	background-color: #92806b;
}

.about{
	display: inline;
	width: 300px;
}

.about-heading{
	margin-top: 0;
	padding-top: 40px;
}

.about-para{
	width: 70%;
}
.myimage
{
	height: 90px;
	margin-top: 0px;
	margin-bottom: 40px;
}


/*....footer...*/

#footer{
	background-color: rgb(83, 72, 72);
}

h6{
	color: #fff;
	font-size: 0.75rem;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 20px;
}
