#title
{
	background-color:#F3C892;
}

#detail
{
	background-color:#F3C892;
	height: 350px;
}
.me
{
	margin-top: 80px;
}
.hi
{
	color: cornflowerblue;
}

#work
{
     background-color: #D6E5FA;
}

#list{
	height: 15rem;
}
